{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Details</title>
{% endblock%}

{% block content %}
    <div>
        <br>
       <marquee> <h1>ARECANUT</h1></marquee>
     <center>  <img src="{% static 'images/3.jpg' %}" height="300" width="500" alt="name"><br>
     <h5><br><b>details:</b>arcanut palm is the source of commen chewing nut,<br>popularly known as betal nut or supari.</h5></center>
       <br><br> <img src="{% static 'images/2.jpg' %}" width="1400" height="10" alt="name">
    
    </div>
    
{%endblock%}